


body {
	margin : 0;
}

section {
	min-height: 600px;
}

#button-login, #button-create-account {
	width : 200px;
	height : 150px;
}

#button-web-signup, #button-kakao-signup {
	width : 200px;
	height : 150px;
}

/* 로긴 컨테이너 그림자효과 */
.login-container, signup-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}


.input-form {
	min-width: 400px;
	max-width: 500px;
	margin-top: 20px;
	padding: 32px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.map {
	z-index: 2; 
}

.login-info {
	font-size : large;
 	color: #FFFFFF !important;
}

.narrow-column {
	width: 50px;
}



